<h1>Document JOIN Document(s)</h1>

<div *ngFor="let item of user | async | keyvalue">
    {{ item.key }}: {{ item.value | json }}
</div>

<hr>

<h1>Collection JOIN Collection by Field (Inner Join)</h1>

<div *ngFor="let doc of joined | async">

    <h3>{{ doc.name }}</h3>

    <div *ngFor="let item of doc | keyvalue">
        {{ item.key }}: {{ item.value | json }}
    </div>

    <hr>
</div>


<h1>Collection JOIN Documents</h1>

<div *ngFor="let doc of joined2 | async">

    <h3>{{ doc.name }}</h3>

    <div *ngFor="let item of doc | keyvalue">
        {{ item.key }}: {{ item.value | json }}
    </div>

    <hr>
</div>



<router-outlet>
</router-outlet>